  <div class="blog-area pb-70">
    <div class="grid wide_1320 pd-12">
      <div class="blog row justify-center">
        <div class="blog__item col l-4 m-6">
          <div class="blog__image">
            <a href="">
              <img src="https://vaxim-ng.envytheme.com/assets/img/blog/blog1.jpg">
            </a>
          </div>
          <div class="blog__content">
            <ul class="meta">
              <li>
                <a href="">FASHION</a>
              </li>
              <li>15TH JUNE, 2021</li>
            </ul>
            <h3><a>The who what wear summer guide is here Girl thing to know</a></h3>
          </div>
        </div>
        <div class="blog__item col l-4 m-6">
          <div class="blog__image">
            <a href="">
              <img src="https://vaxim-ng.envytheme.com/assets/img/blog/blog2.jpg">
            </a>
          </div>
          <div class="blog__content">
            <ul class="meta">
              <li>
                <a href="">LIFESTYLE</a>
              </li>
              <li>14TH JUNE, 2021</li>
            </ul>
            <h3><a>The Vaxim 33 of this week's best new arrivals for summer</a></h3>
          </div>
        </div>
        <div class="blog__item col l-4 m-6">
          <div class="blog__image">
            <a href="">
              <img src="https://vaxim-ng.envytheme.com/assets/img/blog/blog3.jpg">
            </a>
          </div>
          <div class="blog__content">
            <ul class="meta">
              <li>
                <a href="">DESIGN</a>
              </li>
              <li>13TH JUNE, 2021</li>
            </ul>
            <h3><a>How to sell Menswear to Women and Womenswear to Men</a></h3>
          </div>
        </div>	
      </div>
    </div>
    <div class="background-shape">
      <img src="https://vaxim-ng.envytheme.com/assets/img/circle.png">
    </div>
  </div>

{% schema %}
  {
    "name": "Custom Blog",
    "settings": [
	{
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      }
    ],
    "presets": [
      {
        "name": "Custom Blog",
        "category": "Custom"
      }
    ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
